In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Setting path to data
path = r'C:\Users\Anwender\Desktop\ballfifa20'

In [3]:
# Import Data
df_fifa20 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'players_20fifa_ball.csv'), index_col = False)

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
# Showing the head
df_fifa20.head()

,sofifa_id,short_name,long_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,preferred_foot,international_reputation,weak_foot,skill_moves,work_rate,body_type,release_clause_eur,team_position,joined,contract_valid_until,pace,shooting,passing,dribbling,defending,physic,player_traits,power_shot_power,power_jumping,power_long_shots,mentality_aggression,mentality_interceptions,mentality_penalties
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,FC Barcelona,94,94,95500000,565000,Left,5,4,4,Medium/Low,Messi,195800000.0,RW,01/07/2004,2021.0,87.0,92.0,92.0,96.0,39.0,66.0,"Beat Offside Trap, Argues with Officials, Earl...",86,68,94,48,40,75
1,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,Juventus,93,93,58500000,405000,Right,5,4,5,High/Low,C. Ronaldo,96500000.0,LW,10/07/2018,2022.0,90.0,93.0,82.0,89.0,35.0,78.0,"Long Throw-in, Selfish, Argues with Officials,...",95,95,93,63,29,85
2,190871,Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,Paris Saint-Germain,92,92,105500000,290000,Right,5,5,5,High/Medium,Neymar,195200000.0,CAM,03/08/2017,2022.0,91.0,85.0,87.0,95.0,32.0,58.0,"Power Free-Kick, Injury Free, Selfish, Early C...",80,61,84,51,36,90
3,200389,J. Oblak,Jan Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,77500000,125000,Right,3,3,1,Medium/Medium,Normal,164700000.0,GK,16/07/2014,2023.0,NaN,NaN,NaN,NaN,NaN,NaN,"Flair, Acrobatic Clearance",59,78,12,34,19,11
4,183277,E. Hazard,Eden Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,Right,4,4,4,High/Medium,Normal,184500000.0,LW,01/07/2019,2024.0,91.0,83.0,86.0,94.0,35.0,66.0,"Beat Offside Trap, Selfish, Finesse Shot, Spee...",82,56,80,54,41,88

In [6]:
# Showing the dataframe dimensions 
df_fifa20.shape

(18278, 35)

In [7]:
# information about data
df_fifa20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18278 entries, 0 to 18277
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sofifa_id                 18278 non-null  int64
 1   short_name                18278 non-null  object
 2   long_name                 18278 non-null  object
 3   age                       18278 non-null  int64
 4   height_cm                 18278 non-null  int64
 5   weight_kg                 18278 non-null  int64
 6   nationality               18278 non-null  object
 7   club                      18278 non-null  object
 8   overall                   18278 non-null  int64
 9   potential                 18278 non-null  int64
 10  value_eur                 18278 non-null  int64
 11  wage_eur                  18278 non-null  int64
 12  preferred_foot            18278 non-null  object
 13  international_reputation  18278 non-null  int64
 14  weak_foot                 18278 non-null  int64
 15  skill_moves               18278 non-null  int64
 16  work_rate                 18278 non-null  object
 17  body_type                 18278 non-null  object
 18  release_clause_eur        16980 non-null  float64
 19  team_position             18038 non-null  object
 20  joined                    16990 non-null  object
 21  contract_valid_until      18038 non-null  float64
 22  pace                      16242 non-null  float64
 23  shooting                  16242 non-null  float64
 24  passing                   16242 non-null  float64
 25  dribbling                 16242 non-null  float64
 26  defending                 16242 non-null  float64
 27  physic                    16242 non-null  float64
 28  player_traits             7566 non-null   object
 29  power_shot_power          18278 non-null  int64
 30  power_jumping             18278 non-null  int64
 31  power_long_shots          18278 non-null  int64
 32  mentality_aggression      18278 non-null  int64
 33  mentality_interceptions   18278 non-null  int64
 34  mentality_penalties       18278 non-null  int64
dtypes: float64(8), int64(17), object(10)
memory usage: 4.9+ MB

In [8]:
# checking the data types
df_fifa20.dtypes

sofifa_id                     int64
short_name                   object
long_name                    object
age                           int64
height_cm                     int64
weight_kg                     int64
nationality                  object
club                         object
overall                       int64
potential                     int64
value_eur                     int64
wage_eur                      int64
preferred_foot               object
international_reputation      int64
weak_foot                     int64
skill_moves                   int64
work_rate                    object
body_type                    object
release_clause_eur          float64
team_position                object
joined                       object
contract_valid_until        float64
pace                        float64
shooting                    float64
passing                     float64
dribbling                   float64
defending                   float64
physic                      float64
player_traits                object
power_shot_power              int64
power_jumping                 int64
power_long_shots              int64
mentality_aggression          int64
mentality_interceptions       int64
mentality_penalties           int64
dtype: object

In [9]:
# checking titles of column
df_fifa20.columns

Index(['sofifa_id', 'short_name', 'long_name', 'age', 'height_cm', 'weight_kg',
       'nationality', 'club', 'overall', 'potential', 'value_eur', 'wage_eur',
       'preferred_foot', 'international_reputation', 'weak_foot',
       'skill_moves', 'work_rate', 'body_type', 'release_clause_eur',
       'team_position', 'joined', 'contract_valid_until', 'pace', 'shooting',
       'passing', 'dribbling', 'defending', 'physic', 'player_traits',
       'power_shot_power', 'power_jumping', 'power_long_shots',
       'mentality_aggression', 'mentality_interceptions',
       'mentality_penalties'],
      dtype='object')

In [10]:
# To change the name of a column by renaming
df_fifa20.rename(columns = {'sofifa_id':'ID'}, inplace = True)

# cleaning the data

In [11]:
# Checking df_fifa data frame using df.describe
df_fifa20.describe()

,ID,age,height_cm,weight_kg,overall,potential,value_eur,wage_eur,international_reputation,weak_foot,skill_moves,release_clause_eur,contract_valid_until,pace,shooting,passing,dribbling,defending,physic,power_shot_power,power_jumping,power_long_shots,mentality_aggression,mentality_interceptions,mentality_penalties
count,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,1.827800e+04,18278.000000,18278.000000,18278.000000,18278.000000,1.698000e+04,18038.000000,16242.000000,16242.000000,16242.000000,16242.000000,16242.000000,16242.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000
mean,219738.864482,25.283291,181.362184,75.276343,66.244994,71.546887,2.484038e+06,9456.942773,1.103184,2.944250,2.368038,4.740717e+06,2021.114591,67.700899,52.298301,57.233777,62.531585,51.553503,64.876678,58.181694,64.928165,46.812945,55.742149,46.380239,48.383357
std,27960.200461,4.656964,6.756961,7.047744,6.949953,6.139669,5.585481e+06,21351.714095,0.378861,0.664656,0.765038,1.103002e+07,1.289888,11.297656,14.029418,10.407844,10.284950,16.419528,9.760162,13.326083,11.934059,19.322343,17.318157,20.775812,15.708099
min,768.000000,16.000000,156.000000,50.000000,48.000000,49.000000,0.000000e+00,0.000000,1.000000,1.000000,1.000000,1.300000e+04,2019.000000,24.000000,15.000000,24.000000,23.000000,15.000000,27.000000,14.000000,19.000000,4.000000,9.000000,3.000000,7.000000
25%,204445.500000,22.000000,177.000000,70.000000,62.000000,67.000000,3.250000e+05,1000.000000,1.000000,3.000000,2.000000,5.630000e+05,2020.000000,61.000000,42.000000,50.000000,57.000000,36.000000,59.000000,48.000000,58.000000,32.000000,44.000000,25.000000,39.000000
50%,226165.000000,25.000000,181.000000,75.000000,66.000000,71.000000,7.000000e+05,3000.000000,1.000000,3.000000,2.000000,1.200000e+06,2021.000000,69.000000,54.000000,58.000000,64.000000,56.000000,66.000000,59.000000,66.000000,51.000000,58.000000,52.000000,49.000000
75%,240795.750000,29.000000,186.000000,80.000000,71.000000,75.000000,2.100000e+06,8000.000000,1.000000,3.000000,3.000000,3.700000e+06,2022.000000,75.000000,63.000000,64.000000,69.000000,65.000000,72.000000,68.000000,73.000000,62.000000,69.000000,64.000000,60.000000
max,252905.000000,42.000000,205.000000,110.000000,94.000000,95.000000,1.055000e+08,565000.000000,5.000000,5.000000,5.000000,1.958000e+08,2026.000000,96.000000,93.000000,92.000000,96.000000,90.000000,90.000000,95.000000,95.000000,94.000000,95.000000,92.000000,92.000000

# Checking for Mixed Type Columns

In [12]:
# Checking df_game for mixed type columns
for col in df_fifa20.columns.tolist():
  weird = (df_fifa20[[col]].applymap(type) != df_fifa20[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_fifa20[weird]) > 0:
    print (col)
    print (col + ' has mixed type data')
  else:
    print (col + ' data type is uniform')

ID data type is uniform
short_name data type is uniform
long_name data type is uniform
age data type is uniform
height_cm data type is uniform
weight_kg data type is uniform
nationality data type is uniform
club data type is uniform
overall data type is uniform
potential data type is uniform
value_eur data type is uniform
wage_eur data type is uniform
preferred_foot data type is uniform
international_reputation data type is uniform
weak_foot data type is uniform
skill_moves data type is uniform
work_rate data type is uniform
body_type data type is uniform
release_clause_eur data type is uniform
team_position
team_position has mixed type data
joined
joined has mixed type data
contract_valid_until data type is uniform
pace data type is uniform
shooting data type is uniform
passing data type is uniform
dribbling data type is uniform
defending data type is uniform
physic data type is uniform
player_traits
player_traits has mixed type data
power_shot_power data type is uniform
power_jumping data type is uniform
power_long_shots data type is uniform
mentality_aggression data type is uniform
mentality_interceptions data type is uniform
mentality_penalties data type is uniform

In [13]:
# team_position and joined is a mixed type column

In [14]:
# Changing the columns values to a string
df_fifa20['team_position'] = df_fifa20['team_position'].astype('str')
df_fifa20['joined'] = df_fifa20['joined'].astype('str')

In [15]:
# droping the player_traits column, not needed for this analysis
df_fifa20.drop(['player_traits'], axis=1, inplace=True)

# Checking for missing values

In [16]:
# Checking df_fifa20
df_fifa20.isnull().sum()

ID                             0
short_name                     0
long_name                      0
age                            0
height_cm                      0
weight_kg                      0
nationality                    0
club                           0
overall                        0
potential                      0
value_eur                      0
wage_eur                       0
preferred_foot                 0
international_reputation       0
weak_foot                      0
skill_moves                    0
work_rate                      0
body_type                      0
release_clause_eur          1298
team_position                  0
joined                         0
contract_valid_until         240
pace                        2036
shooting                    2036
passing                     2036
dribbling                   2036
defending                   2036
physic                      2036
power_shot_power               0
power_jumping                  0
power_long_shots               0
mentality_aggression           0
mentality_interceptions        0
mentality_penalties            0
dtype: int64

In [17]:
# information about data
df_fifa20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18278 entries, 0 to 18277
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18278 non-null  int64
 1   short_name                18278 non-null  object
 2   long_name                 18278 non-null  object
 3   age                       18278 non-null  int64
 4   height_cm                 18278 non-null  int64
 5   weight_kg                 18278 non-null  int64
 6   nationality               18278 non-null  object
 7   club                      18278 non-null  object
 8   overall                   18278 non-null  int64
 9   potential                 18278 non-null  int64
 10  value_eur                 18278 non-null  int64
 11  wage_eur                  18278 non-null  int64
 12  preferred_foot            18278 non-null  object
 13  international_reputation  18278 non-null  int64
 14  weak_foot                 18278 non-null  int64
 15  skill_moves               18278 non-null  int64
 16  work_rate                 18278 non-null  object
 17  body_type                 18278 non-null  object
 18  release_clause_eur        16980 non-null  float64
 19  team_position             18278 non-null  object
 20  joined                    18278 non-null  object
 21  contract_valid_until      18038 non-null  float64
 22  pace                      16242 non-null  float64
 23  shooting                  16242 non-null  float64
 24  passing                   16242 non-null  float64
 25  dribbling                 16242 non-null  float64
 26  defending                 16242 non-null  float64
 27  physic                    16242 non-null  float64
 28  power_shot_power          18278 non-null  int64
 29  power_jumping             18278 non-null  int64
 30  power_long_shots          18278 non-null  int64
 31  mentality_aggression      18278 non-null  int64
 32  mentality_interceptions   18278 non-null  int64
 33  mentality_penalties       18278 non-null  int64
dtypes: float64(8), int64(17), object(9)
memory usage: 4.7+ MB

In [18]:
# one can see the data information correspond to the missing value above

In [19]:
# creating a subset of the dataframe containing only those values within the "contract_valid_until" column that meet the missing value condition
# contract_valid_until column has few missing values,
# while i impute missing values with mean in the numerical values.

In [20]:
df_fifa20['contract_valid_until'].value_counts(dropna = False)

2020.0    6131
2021.0    4133
2022.0    3982
2023.0    1740
2019.0    1088
2024.0     947
NaN        240
2025.0      14
2026.0       3
Name: contract_valid_until, dtype: int64

In [21]:
df_nan = df_fifa20[df_fifa20['contract_valid_until'].isnull() == True]

In [22]:
df_nan

,ID,short_name,long_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,preferred_foot,international_reputation,weak_foot,skill_moves,work_rate,body_type,release_clause_eur,team_position,joined,contract_valid_until,pace,shooting,passing,dribbling,defending,physic,power_shot_power,power_jumping,power_long_shots,mentality_aggression,mentality_interceptions,mentality_penalties
327,245309,E. Schetino,Egidio Maestre Schetino,27,185,80,Uruguay,Uruguay,82,82,0,0,Right,1,3,2,Medium/Medium,Normal,NaN,nan,nan,NaN,80.0,43.0,56.0,65.0,83.0,76.0,53,69,41,86,82,56
328,245313,J. Sildero,José María Sildero,27,177,75,Uruguay,Uruguay,82,82,0,0,Right,1,4,4,Medium/Low,Normal,NaN,nan,nan,NaN,81.0,77.0,81.0,82.0,40.0,71.0,82,64,78,62,40,77
407,245299,J. Frendado,Jaime Nicolás Frendado,35,181,82,Uruguay,Uruguay,81,81,0,0,Right,1,3,2,High/Medium,Normal,NaN,nan,nan,NaN,71.0,61.0,57.0,62.0,82.0,75.0,74,91,61,86,82,62
408,245304,S. Ardero,Saúl Marcelo Ardero,31,171,63,Uruguay,Uruguay,81,81,0,0,Left,1,5,4,Medium/Medium,Lean,NaN,nan,nan,NaN,82.0,72.0,77.0,83.0,26.0,51.0,67,44,75,41,31,74
409,245305,L. Dálves,Luis Roberto Dálves,27,188,83,Uruguay,Uruguay,81,81,0,0,Right,1,3,3,High/Low,Normal,NaN,nan,nan,NaN,80.0,82.0,60.0,71.0,34.0,75.0,84,84,80,65,32,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16353,251735,A. Varkay,Amanpreet Varkay,33,179,71,India,India,58,58,0,0,Left,1,4,2,Medium/Medium,Lean,NaN,nan,nan,NaN,72.0,30.0,49.0,57.0,54.0,71.0,21,82,17,75,54,40
16354,251745,C. Palan,Chapal Palan,28,181,69,India,India,58,58,0,0,Right,1,2,2,Medium/Low,Lean,NaN,nan,nan,NaN,68.0,47.0,57.0,55.0,59.0,68.0,60,64,51,76,59,47
16356,252735,H. Ivanov,Hristo Ivanov,37,176,65,Bulgaria,Bulgaria,58,58,0,0,Right,1,2,1,Medium/Medium,Lean,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42,57,9,19,8,17
16600,252359,E. Ira Tape,Eliezer Ira Tape,21,192,85,Ivory Coast,Côte d'Ivoire,57,66,0,0,Right,1,3,1,Medium/Medium,Normal,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,35,10,27,15,20
16714,251750,D. Singhal,Dhwanil Singhal,34,177,71,India,India,57,57,0,0,Right,1,3,2,Low/Medium,Stocky,NaN,nan,nan,NaN,67.0,50.0,50.0,54.0,56.0,69.0,59,60,58,61,56,38

In [23]:
# Showing the dataframe dimensions 
df_fifa20.shape

(18278, 34)

In [24]:
# Showing the dataframe dimensions 
df_nan.shape

(240, 34)

In [25]:
# Looking at the rows in df_nan, it quickly becomes clear that it isn’t necessary to do imputation
# creating a new data frame and filter out the ones that aren’t missing into a subset dataframe and
# continue wih the analysis with this new dataframe.

In [26]:
# Creating new data frame using 'contract_valid_until'
df_fifa20_clean = df_fifa20[df_fifa20['contract_valid_until'].isnull() == False]

In [27]:
# Showing the new dataframe dimensions 
df_fifa20_clean.shape

(18038, 34)

In [28]:
# No missing values
df_fifa20_clean['contract_valid_until'].value_counts(dropna = False)

2020.0    6131
2021.0    4133
2022.0    3982
2023.0    1740
2019.0    1088
2024.0     947
2025.0      14
2026.0       3
Name: contract_valid_until, dtype: int64

In [29]:
df_fifa20_clean.head()

,ID,short_name,long_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,preferred_foot,international_reputation,weak_foot,skill_moves,work_rate,body_type,release_clause_eur,team_position,joined,contract_valid_until,pace,shooting,passing,dribbling,defending,physic,power_shot_power,power_jumping,power_long_shots,mentality_aggression,mentality_interceptions,mentality_penalties
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,FC Barcelona,94,94,95500000,565000,Left,5,4,4,Medium/Low,Messi,195800000.0,RW,01/07/2004,2021.0,87.0,92.0,92.0,96.0,39.0,66.0,86,68,94,48,40,75
1,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,Juventus,93,93,58500000,405000,Right,5,4,5,High/Low,C. Ronaldo,96500000.0,LW,10/07/2018,2022.0,90.0,93.0,82.0,89.0,35.0,78.0,95,95,93,63,29,85
2,190871,Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,Paris Saint-Germain,92,92,105500000,290000,Right,5,5,5,High/Medium,Neymar,195200000.0,CAM,03/08/2017,2022.0,91.0,85.0,87.0,95.0,32.0,58.0,80,61,84,51,36,90
3,200389,J. Oblak,Jan Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,77500000,125000,Right,3,3,1,Medium/Medium,Normal,164700000.0,GK,16/07/2014,2023.0,NaN,NaN,NaN,NaN,NaN,NaN,59,78,12,34,19,11
4,183277,E. Hazard,Eden Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,Right,4,4,4,High/Medium,Normal,184500000.0,LW,01/07/2019,2024.0,91.0,83.0,86.0,94.0,35.0,66.0,82,56,80,54,41,88

In [30]:
# Checking df_fifa20_clean
df_fifa20_clean.isnull().sum()

ID                             0
short_name                     0
long_name                      0
age                            0
height_cm                      0
weight_kg                      0
nationality                    0
club                           0
overall                        0
potential                      0
value_eur                      0
wage_eur                       0
preferred_foot                 0
international_reputation       0
weak_foot                      0
skill_moves                    0
work_rate                      0
body_type                      0
release_clause_eur          1058
team_position                  0
joined                         0
contract_valid_until           0
pace                        1996
shooting                    1996
passing                     1996
dribbling                   1996
defending                   1996
physic                      1996
power_shot_power               0
power_jumping                  0
power_long_shots               0
mentality_aggression           0
mentality_interceptions        0
mentality_penalties            0
dtype: int64

In [31]:
# imputing the mean values in the df_fifa20_clean dataframe where there is missing rows

In [32]:
#Replacing the release_clause_eur column with the average
df_fifa20_clean['release_clause_eur'].fillna(df_fifa20_clean['release_clause_eur'].mean(), inplace = True)
#Replacing the pace column with the average
df_fifa20_clean['pace'] = df_fifa20_clean['pace'].fillna(df_fifa20_clean['pace'].mean())
#Replacing the passing column with the average
df_fifa20_clean['passing'].fillna(df_fifa20_clean['passing'].mean(), inplace = True)
#Replacing the dribbling column with the average
df_fifa20_clean['dribbling'].fillna(df_fifa20_clean['dribbling'].mean(), inplace = True)
#Replacing the defending column with the average
df_fifa20_clean['defending'].fillna(df_fifa20_clean['defending'].mean(), inplace = True)
#Replacing the physic column with the average
df_fifa20_clean['physic'].fillna(df_fifa20_clean['physic'].mean(), inplace = True)
#Replacing the shooting column with the average
df_fifa20_clean['shooting'].mean()
# Imputing mean
df_fifa20_clean['shooting'].fillna(52, inplace=True)

C:\Users\Anwender\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
C:\Users\Anwender\AppData\Local\Temp/ipykernel_8552/935643662.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fifa20_clean['pace'] = df_fifa20_clean['pace'].fillna(df_fifa20_clean['pace'].mean())

In [33]:
# Checking df_fifa20_clean
df_fifa20_clean.isnull().sum()

ID                          0
short_name                  0
long_name                   0
age                         0
height_cm                   0
weight_kg                   0
nationality                 0
club                        0
overall                     0
potential                   0
value_eur                   0
wage_eur                    0
preferred_foot              0
international_reputation    0
weak_foot                   0
skill_moves                 0
work_rate                   0
body_type                   0
release_clause_eur          0
team_position               0
joined                      0
contract_valid_until        0
pace                        0
shooting                    0
passing                     0
dribbling                   0
defending                   0
physic                      0
power_shot_power            0
power_jumping               0
power_long_shots            0
mentality_aggression        0
mentality_interceptions     0
mentality_penalties         0
dtype: int64

In [34]:
# Checking for Uniqueness of the dataframe
df_fifa20_clean.ID.unique().shape

(18038,)

In [35]:
# checking body_type Column
# Messi is not a body_type
df_fifa20_clean['body_type'].value_counts(dropna = False)

Normal                 10590
Lean                    6444
Stocky                   997
Messi                      1
C. Ronaldo                 1
Neymar                     1
PLAYER_BODY_TYPE_25        1
Courtois                   1
Shaqiri                    1
Akinfenwa                  1
Name: body_type, dtype: int64

In [36]:
# Changing body_type where there is an error
df_fifa20_clean['body_type'][df_fifa20_clean['body_type'] == 'Messi'] = 'Lean'
df_fifa20_clean['body_type'][df_fifa20_clean['body_type'] == 'C. Ronaldo'] = 'Normal'
df_fifa20_clean['body_type'][df_fifa20_clean['body_type'] == 'Neymar'] = 'Lean'
df_fifa20_clean['body_type'][df_fifa20_clean['body_type'] == 'PLAYER_BODY_TYPE_25'] = 'Normal'
df_fifa20_clean['body_type'][df_fifa20_clean['body_type'] == 'Courtois'] = 'Lean'
df_fifa20_clean['body_type'][df_fifa20_clean['body_type'] == 'Shaqiri'] = 'Stocky'
df_fifa20_clean['body_type'][df_fifa20_clean['body_type'] == 'Akinfenwa'] = 'Stocky'

C:\Users\Anwender\AppData\Local\Temp/ipykernel_8552/2397314004.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fifa20_clean['body_type'][df_fifa20_clean['body_type'] == 'Messi'] = 'Lean'
C:\Users\Anwender\anaconda3\lib\site-packages\pandas\core\generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
C:\Users\Anwender\AppData\Local\Temp/ipykernel_8552/2397314004.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fifa20_clean['body_type'][df_fifa20_clean['body_type'] == 'C. Ronaldo'] = 'Normal'
C:\Users\Anwender\AppData\Local\Temp/ipykernel_8552/2397314004.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fifa20_clean['body_type'][df_fifa20_clean['body_type'] == 'Neymar'] = 'Lean'
C:\Users\Anwender\AppData\Local\Temp/ipykernel_8552/2397314004.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fifa20_clean['body_type'][df_fifa20_clean['body_type'] == 'PLAYER_BODY_TYPE_25'] = 'Normal'
C:\Users\Anwender\AppData\Local\Temp/ipykernel_8552/2397314004.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fifa20_clean['body_type'][df_fifa20_clean['body_type'] == 'Courtois'] = 'Lean'
C:\Users\Anwender\AppData\Local\Temp/ipykernel_8552/2397314004.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fifa20_clean['body_type'][df_fifa20_clean['body_type'] == 'Shaqiri'] = 'Stocky'
C:\Users\Anwender\AppData\Local\Temp/ipykernel_8552/2397314004.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fifa20_clean['body_type'][df_fifa20_clean['body_type'] == 'Akinfenwa'] = 'Stocky'

In [37]:
# checking body_type Column
df_fifa20_clean['body_type'].value_counts(dropna = False)

Normal    10592
Lean       6447
Stocky      999
Name: body_type, dtype: int64

In [38]:
# Checking for Duplicates
df_dups_fifa = df_fifa20_clean[df_fifa20_clean.duplicated()]

In [39]:
# Confirming
df_dups_fifa

Empty DataFrame
Columns: [ID, short_name, long_name, age, height_cm, weight_kg, nationality, club, overall, potential, value_eur, wage_eur, preferred_foot, international_reputation, weak_foot, skill_moves, work_rate, body_type, release_clause_eur, team_position, joined, contract_valid_until, pace, shooting, passing, dribbling, defending, physic, power_shot_power, power_jumping, power_long_shots, mentality_aggression, mentality_interceptions, mentality_penalties]
Index: []

In [40]:
# No duplicate found

In [41]:
# Checking df_fifa data frame using df.describe
df_fifa20_clean.describe()

,ID,age,height_cm,weight_kg,overall,potential,value_eur,wage_eur,international_reputation,weak_foot,skill_moves,release_clause_eur,contract_valid_until,pace,shooting,passing,dribbling,defending,physic,power_shot_power,power_jumping,power_long_shots,mentality_aggression,mentality_interceptions,mentality_penalties
count,18038.000000,18038.000000,18038.000000,18038.000000,18038.000000,18038.000000,1.803800e+04,18038.000000,18038.000000,18038.000000,18038.000000,1.803800e+04,18038.000000,18038.000000,18038.000000,18038.000000,18038.000000,18038.000000,18038.000000,18038.000000,18038.000000,18038.000000,18038.000000,18038.000000,18038.000000
mean,219663.470230,25.234671,181.361847,75.264054,66.205677,71.556215,2.517088e+06,9582.769708,1.103005,2.943120,2.368555,4.740717e+06,2021.114591,67.702219,52.247755,57.206209,62.525620,51.506795,64.850767,58.175518,64.921222,46.813449,55.716986,46.354030,48.375929
std,27964.296141,4.646378,6.755478,7.051232,6.954596,6.143669,5.615115e+06,21465.227634,0.378983,0.664551,0.763990,1.070163e+07,1.289888,10.659795,13.217794,9.818816,9.696097,15.473463,9.205239,13.312357,11.950330,19.287821,17.290682,20.760366,15.685507
min,768.000000,16.000000,156.000000,50.000000,48.000000,49.000000,0.000000e+00,1000.000000,1.000000,1.000000,1.000000,1.300000e+04,2019.000000,24.000000,15.000000,24.000000,23.000000,15.000000,27.000000,14.000000,19.000000,4.000000,9.000000,3.000000,7.000000
25%,204426.250000,22.000000,177.000000,70.000000,62.000000,67.000000,3.250000e+05,1000.000000,1.000000,3.000000,2.000000,5.922500e+05,2020.000000,63.000000,44.000000,52.000000,58.000000,39.000000,60.000000,48.000000,58.000000,32.000000,44.000000,25.000000,39.000000
50%,226102.500000,25.000000,181.000000,75.000000,66.000000,71.000000,7.250000e+05,3000.000000,1.000000,3.000000,2.000000,1.300000e+06,2021.000000,67.702219,52.000000,57.206209,62.525620,52.000000,64.850767,59.000000,66.000000,51.000000,58.000000,52.000000,49.000000
75%,240682.500000,29.000000,186.000000,80.000000,71.000000,75.000000,2.100000e+06,8000.000000,1.000000,3.000000,3.000000,4.740717e+06,2022.000000,74.000000,62.000000,63.000000,69.000000,64.000000,71.000000,68.000000,73.000000,62.000000,69.000000,64.000000,60.000000
max,252905.000000,42.000000,205.000000,110.000000,94.000000,95.000000,1.055000e+08,565000.000000,5.000000,5.000000,5.000000,1.958000e+08,2026.000000,96.000000,93.000000,92.000000,96.000000,90.000000,90.000000,95.000000,95.000000,94.000000,95.000000,92.000000,92.000000

In [42]:
df_fifa20_clean.head()

,ID,short_name,long_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,preferred_foot,international_reputation,weak_foot,skill_moves,work_rate,body_type,release_clause_eur,team_position,joined,contract_valid_until,pace,shooting,passing,dribbling,defending,physic,power_shot_power,power_jumping,power_long_shots,mentality_aggression,mentality_interceptions,mentality_penalties
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,FC Barcelona,94,94,95500000,565000,Left,5,4,4,Medium/Low,Lean,195800000.0,RW,01/07/2004,2021.0,87.000000,92.0,92.000000,96.00000,39.000000,66.000000,86,68,94,48,40,75
1,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,Juventus,93,93,58500000,405000,Right,5,4,5,High/Low,Normal,96500000.0,LW,10/07/2018,2022.0,90.000000,93.0,82.000000,89.00000,35.000000,78.000000,95,95,93,63,29,85
2,190871,Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,Paris Saint-Germain,92,92,105500000,290000,Right,5,5,5,High/Medium,Lean,195200000.0,CAM,03/08/2017,2022.0,91.000000,85.0,87.000000,95.00000,32.000000,58.000000,80,61,84,51,36,90
3,200389,J. Oblak,Jan Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,77500000,125000,Right,3,3,1,Medium/Medium,Normal,164700000.0,GK,16/07/2014,2023.0,67.702219,52.0,57.206209,62.52562,51.506795,64.850767,59,78,12,34,19,11
4,183277,E. Hazard,Eden Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,Right,4,4,4,High/Medium,Normal,184500000.0,LW,01/07/2019,2024.0,91.000000,83.0,86.000000,94.00000,35.000000,66.000000,82,56,80,54,41,88

In [43]:
df_fifa20_clean.to_csv(os.path.join(path, '02 Data','Prepared Data', 'clean_fifa'))